<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/button.js"></script>
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <title>Sample</title>
</head>
<body>
    <div class="main">
        <div>
            <button class="btn" id="start">START</button>
            <button class="btn" id="kill" style="background: #696969;" diabled>KILL</button>
            <button class="btn" id="stop" style="background: #696969;" diabled>STOP</button>
            <button class="btn" id="restart" style="background: #696969;" diabled>RESTART</button>
            <div class="speedForm">
                <label>SPEED</label>
                <input type="number" id="speed" value="0.1"
                       min="0" max="3" step="0.1" style="background: #696969;" />
            </div>
        </div>
    </div>
</body>
</html>